<div class = "comments">
    {{#each this}}
    <div class="displayComment">
        <div class="credentials">
            {{user.username}}
        </div>
        <div class = "content">
            {{comment.content}}
        </div>
    </div>
    {{/each}}
</div>