   <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Tech Blog</a>
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only"></span></a>
            <a class="nav-item nav-link" href="#">Dashboard</a>
            <a class="nav-item nav-link" href="#">Login</a>
        </div>
      </nav>