<div class="container mt-1 ml-4" id="aboutUser">
    <h1>{{username}}</h1>
    <h2>{{email}}</h2>
    <a href="/user/edit/{{id}}" type="click" class="btn btn-primary">Edit User</a>
</div>

<form class=" mt-4 mb-4 form-control-lg container border" id="newPostForm">

    <div id="newPostTitle">
        <label for="title">Title</label>
        <input class="form-control" type="text" id="title" name="newPostTitle"/>
    </div>

    <div id="newPostText">
        <label for="text">Write your post</label>
        <input class="form-control mb-1"  type="text" id="text" name="newPostText"/>
    </div>

    <button id="newPostBtn" type="submit" class="btn btn-primary">Create Post</button>

</form>


<div class="container ml-1" id="userPosts">
    
    <h2>Your Blogs</h2>
    <ul>
        {{#each blogs as |blog|}}
        <li class="list-group">
            {{>blog-info blog}}
            <a href="/blog/edit/{{id}}" class="editBlog btn btn-primary col-2 mt-1">Edit Blog</a>
        </li>
        {{/each}}
    </ul>
</div>


<script src="/js/createPost.js"></script>