<form id="editUserForm" class="form-group">

    <div id="editUserName">
        <label for="editName">Edit Your Name</label>
        <input class="form-control" type="text" id="editName" name="editUserName" value="{{editUser.username}}"/>
    </div>

    <div id="editUserEmail">
        <label for="editEmail">Edit Your Blog</label>
        <input class="form-control" type="text" id="editEmail" name="editUserEmail" value="{{editUser.email}}"/>
    </div>

    <button id="editUserBtn" type="submit" class="btn btn-primary">Edit User</button>

</form>

<script src="/js/editUser.js"></script>