<div id="loginForm">
    <form id="login-user">
        <label for="email-login">Email:</label>
        <input type="text" id="email-login"><br>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <button href ="/signup">Sign Up</button>
</div>
<script src="/js/login.js"></script>