<div id="loginForm">
    <form id="login-user">
        <label for="email-login">Email:</label>
        <input type="text" id="email-login"><br>
        <label for="password-login">Password:</label>
        <input type="text" id="password-login">
    </form>
    <a href ="/signup">Sign Up</a>
</div>