<div id="signUpForm">
    <form id="create-user">
        <label for="username-sign">Username:</label>
        <input type="text" id="username-sign"><br>
        <label for="email-sign">Email:</label>
        <input type="email" id="email-sign"><br>
        <label for="password-sign">Password:</label>
        <input type="password" id="password-sign"><br>
        <button id='signUpSubmit' type="submit">Sign Up</button>
    </form>
    
    
</div>

<script src="/js/signup.js"></script>