<div class="mt-2 container form-control" id="signUpForm">
    <form id="create-user">
        <label for="username-sign">Username:</label>
        <input class="form-control" type="text" id="username-sign"><br>
        <label for="email-sign">Email:</label>
        <input class="form-control" type="email" id="email-sign"><br>
        <label for="password-sign">Password:</label>
        <input class="form-control" type="password" id="password-sign"><br>
        <button class="btn btn-primary" id='signUpSubmit' type="submit">Sign Up</button>
    </form>
    
    
</div>

<script src="/js/signup.js"></script>