<div id="signupForm">
    <form id="create-user">
        <label for="username-sign">Username:</label>
        <input type="text" id="username-sign"><br>
        <label for="email-sign">Email:</label>
        <input type="text" id="email-sign"><br>
        <label for="password-sign">Password:</label>
        <input type="text" id="password-sign">
    </form>
    <a href ="/login">Log In</a>
</div>

<script src="../public/js/signup.js"></script>