{{>blog-info singleBlogPost}}

<h3 class="mt-4 ml-2">Comments:</h3>

{{>comments singleBlogPost.comments}}

{{#if loggedIn}}
<form class="createComment mt-2 d-flex justify-content-center">
  <div>
    <input class="" name="commentContent"></input>
  </div>

  <div>
    <button class="" type="submit">Add comment</button>
  </div>
</form>
{{/if}}

<script src="/js/comment.js"></script>