{{>blog-info singleBlogPost}}

<h3 class="container mt-4 ml-2">Comments:</h3>

{{>comments singleBlogPost.comments}}

{{#if loggedIn}}
<form class="createComment mt-4 container">
  <h3>Add a Comment</h3>
  <div>
    <input class="form-control mt-2" name="commentContent"></input>
  </div>

  <div class="">
    <button class=" btn btn-primary" type="submit">Add comment</button>
  </div>
</form>
{{/if}}

<script src="/js/comment.js"></script>